# Ignore node_modules
node_modules/

# Ignore individual tasks.db for now
tasks.db

# Ignore build and cache folders
dist/
.cache/

# Ignore database and logs
tasks.db
*.log

# Ignore IDE-specific files
.vscode/
.DS_Store
